.vs/
TrueOrFalse/TrueOrFalse/bin/
TrueOrFalse/TrueOrFalse/obj/
TrueOrFalse/TrueOrFalse.Android/bin/
TrueOrFalse/TrueOrFalse.Android/obj/
TrueOrFalse/TrueOrFalse.iOS/bin/
TrueOrFalse/TrueOrFalse.iOS/obj/